.center{
    display: flex;
    justify-content: center;
}

a {
  color: #424242;
}

.fa-github,
.fa-linkedin-in,
.fa-paper-plane,
.fa-code,
.fa-file,
.fa-user,
.fa-twitter {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 0px;
    color: #f5f5f5;
    font-size: 40px;
}

.page-footer {
  padding-top: 0px !important;
} 

.fa-js-square,
.fa-node,
.fa-npm,
.fa-php,
.fa-python,
.fa-react,
.fa-bootstrap,
.fa-css3,
.fa-html5,
.fa-github-square,
.fa-phone-square-alt,
.fa-envelope-square,
.fa-git-alt {
    font-size: 40px;
    color:#424242;
}

.fa-external-link-alt{
    margin-top: 5px;
    font-size: 32px;
    color:#424242;
  }

.center, .center-align {
    margin-bottom: 10px !important;
}

.parallax-container {
    height: 250px !important;
}
  
.mb {
    margin-bottom: 20px;
}

.mt {
    padding-top: 40px;
}

.navtxt {
    margin-top: 10px;
    color: #f5f5f5;
    font-size: 12px;
}